{{>layout/header}}


<body>
<section class="hero-wrap hero-wrap-2" style="background-image: url('/traders/images/bg_wave.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="mb-2 bread" style="font-size:45px;">News</p>
                <p class="breadcrumbs"><span class="mr-2"><a href="/main">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>News <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="/traders/js/jquery.min.js"></script>
<script src="/traders/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/traders/js/popper.min.js"></script>
<script src="/traders/js/bootstrap.	min.js"></script>
<script src="/traders/js/jquery.easing.1.3.js"></script>
<script src="/traders/js/jquery.waypoints.min.js"></script>
<script src="/traders/js/jquery.stellar.min.js"></script>
<script src="/traders/js/owl.carousel.min.js"></script>
<script src="/traders/js/jquery.magnific-popup.min.js"></script>
<script src="/traders/js/aos.js"></script>
<script src="/traders/js/jquery.animateNumber.min.js"></script>
<script src="/traders/js/bootstrap-datepicker.js"></script>
<script src="/traders/js/scrollax.min.js"></script>
<script src="/traders/js/main.js"></script>

</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-10">


                <form id="form">
                    <input type="date" value="" class="form-control rounded-left"><br></br>
                    <input type="submit" value="날짜 선택" class="form-control btn btn-primary rounded submit px-3"><br></br>
                </form>
                <div>주식차트</div>
                <div id="chart">

                </div>
                <div>
                    주식 이름: {{stockInfo.stockName}}<br>
                    주식 코드: {{stockInfo.stockCode}}<br>
                    주식 가격: {{stockInfo.stockPrice}}<br></br>

                </div>

                <div>주식 관련 뉴스</div>

                <br>
                <div id="news">

                </div>
                <br></br>

                <span><a href="/stock/news" class="form-control btn btn-primary rounded submit px-3">검색어로 뉴스 검색하기</a></span>

</body>
</div>
</div>
</div>
</section>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
            $("#form").submit(function(e){
                e.preventDefault();
                //model 에서 가져온 주식 이름
                var stock_name = `{{stockInfo.stockName}}`;
                //model 에서 가져온 주식 코드
                var stock_code = {{stockInfo.stockCode}};
                //model 에서 가져온 주식 가격
                var stock_price = {{stockInfo.stockPrice}};
                //입력된 날짜
                var date = $("#form input[type='date']").val();
                //아무것도 없을때 default 날짜 설정
                if(date == ""){
                    var today = new Date();
                    var year = today.getFullYear()-3;
                    var month = today.getMonth() + 1;
                    var day = today.getDate();
                    date = year + "-" + month + "-" + day;
                }
                //종가기준 주식 차트의 ajax 데이터 설정
                var data = {'date':date,
                            'stock_name':stock_name ,
                            'stock_code': stock_code};
                //종가기준 주식 차트 ajax
                $.ajax({
                    url:'http://15.165.141.67:8000/stock/stock_detail',
                    method:'GET',
                    data:data,
                    contentType: "application/json; charset=UTF-8",
                    success: function(result){
                            Plotly.plot('chart',
                            JSON.parse(result.stockGraph)
                            ,{});
                    },
                });
            });
</script>
<script>
    //뉴스 정보를 가져오기 위한 코드
    $(document).ready(function(){
        data = {'keyword':`{{stockInfo.stockName}}` ,
                'news_num': 5,
                 'start_num' : 1};
        $.ajax({
            url:'http://15.165.141.67:8000/news/news',
            method:'GET',
            data: data,
            success:function(result){
                var str = '';
                Object.keys(result).forEach(function(key){
                    str += '<div class="news"><div class="content'+ key + '">' +
                    '<a href="'+ result[key]['url'] +'">'+ result[key]['title'] +
                    '</a></div><div class="text">'+ result[key]['text'] +'</div></div><br>';
                });
                $("#news").append(str);

            },
        });
    });
</script>

</html>