<!doctype html>
<html lang="\">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>s
</head>
<body>
this is joinPage

<form action="/test/test/test" method="post">
    <label for="memberId">아이디</label>
    <input type="text" name="memberId" id="memberId">
    <br>
    <label for="memberPw">비밀번호</label>
    <input type="text" name="memberPw" id="memberPw">
    <br>
    <label for="memberName">이름</label>
    <input type="text" name="memberName" id="memberName">
    <br>
    <label for="memberGender">성별</label>
    <input type="text" name="memberGender" id="memberGender">
    <br>
    <label for="memberEmail">이메일</label>
    <input type="text" name="memberEmail" id="memberEmail">
    <br>
    <label for="memberAge">연령대</label>
    <input type="text" name="memberAge" id="memberAge">
    <br>
    <input type="submit" value="회원가입">
</form>
</body>
</html>