{{>layout/header}}

<body>
<section class="hero-wrap hero-wrap-2" style="background-image: url('/traders/images/bg_wave.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="mb-2 bread" style="font-size:45px;">Login</p>
                <p class="breadcrumbs"><span class="mr-2"><a href="/main">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Login <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
    </div>
    </div>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


    <script src="/traders/js/jquery.min.js"></script>
    <script src="/traders/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/traders/js/popper.min.js"></script>
    <script src="/traders/js/bootstrap.	min.js"></script>
    <script src="/traders/js/jquery.easing.1.3.js"></script>
    <script src="/traders/js/jquery.waypoints.min.js"></script>
    <script src="/traders/js/jquery.stellar.min.js"></script>
    <script src="/traders/js/owl.carousel.min.js"></script>
    <script src="/traders/js/jquery.magnific-popup.min.js"></script>
    <script src="/traders/js/aos.js"></script>
    <script src="/traders/js/jquery.animateNumber.min.js"></script>
    <script src="/traders/js/bootstrap-datepicker.js"></script>
    <script src="/traders/js/scrollax.min.js"></script>
    <script src="/traders/js/main.js"></script>

</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <form id="joinForm" action="/join" method="post">

                        <input type="text" class="form-control rounded-left" name="memberId" id="memberId" placeholder="아이디: 영문자+숫자 조합">
                        <br>
                        <button class="form-control btn btn-primary rounded submit px-3" id="idCheck">아이디 중복 체크</button>
                        <input type="hidden" name="id_chk" id="id_chk" value="">
                        <br><br>

                        <input type="password" class="form-control rounded-left" name="memberPw" id="memberPw" placeholder="비밀번호: 8자리 이상 영문자+숫자 조합">
                        <br>

                        <input type="text" class="form-control rounded-left" name="memberName" id="memberName"  placeholder="이름">
                        <br>

                        <div class="form-control rounded-left">성별&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <input type="radio" value="여" name="memberGender" id="female" checked> 여성
                        <input type="radio" value="남" name="memberGender" id="male"> 남성

                        </div>
                        <br>

                        <input type="text" class="form-control rounded-left" name="memberEmail" id="memberEmail" placeholder="이메일">
                        <br>

                        <input type="text" class="form-control rounded-left" name="memberAge" id="memberAge" placeholder="나이">
                        <br>

                        <input type="submit" class="form-control btn btn-primary rounded submit px-3" value="회원가입">
                        <br></br>
                        <a href="/" input type="" class="form-control btn btn-primary rounded submit px-3">뒤로가기</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
        $('#idCheck').click(function(){

            $("input[name='id_chk']").val('y');

        });

        //회원 정보 전체 입력 확인
        $("#joinForm input[type='submit']").on("click",function(e){
            var form = document.getElementById("joinForm");

            var idChk = /^[a-zA-Z0-9]{4,10}$/;
            var pwdChk = /^[a-zA-Z0-9]{8,15}$/;
            var emailChk = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
            var nameChk = /^[가-힣]{2,15}$/;
            var ageChk= /^[0-9]{1,2}$/;

            var id = document.getElementById("memberId");
            var pwd = document.getElementById("memberPw");
            var name = document.getElementById("memberName");
            var female = document.getElementById("female");
            var male = document.getElementById("male");
            var email = document.getElementById("memberEmail");
            var age = document.getElementById("memberAge");



             if(!id.value){
                alert("아이디를 입력해 주세요");
                return false;
            }

             if(form.id_chk.value ==''){
                alert("아이디 중복체크를 해주세요");
                return false;
            }

             if(!idChk.test(id.value)){
                alert("아이디는 영문자와 숫자 조합으로 4~10자리 사용해야 합니다.");
                return false;
            }



             if(!pwd.value){
                alert("비밀번호를 입력해 주세요");
                return false;
            }

            if(!pwdChk.test(pwd.value)){
                alert("비밀번호는 영문자와 숫자 조합으로 8~15자리 사용해야 합니다.");
                return false;
            }

            if(pwd.value==id.value){
                alert("Id와 Password가 동일합니다.");
                return false;
            }



             if(!name.value){
                alert("이름을 입력해 주세요");
                return false;
            }

             if(!nameChk.test(name.value)){
                alert("이름은 한글만 입력해 주세요");
                return false;
             }


             if(!female.checked && !male.checked){
                alert("성별을 선택해 주세요");
                return false;
            }



             if(!email.value){
                alert("이메일을 입력해 주세요");
                return false;
            }

            if(!emailChk.test(email.value)){
                alert("올바른 이메일 형식이 아닙니다.");
                return false;
            }


             if(!age.value){
                alert("나이를 입력해 주세요");
                return false;
            }
             if(!ageChk.test(age.value)){
                alert("나이는 숫자로만 입력해 주세요");
                return false;
            }

            form.submit();
        });

        // 아이디 중복 체크
        $("#idCheck").click(function(e){
            var memberId = $("#memberId").val();
            console.log(memberId);
            e.preventDefault();

            $.ajax({
                url:'/idCheck',
                type:'POST',
                data:memberId,
                contentType : "application/json; charset=UTF-8",
                success: function(data){
                    console.log(data);
                    if(data == '1'){
                        $("#idCheck").text("사용중인 아이디 입니다.");
                        $("#memberId").val('');
                        $("input[name='id_chk']").val('');
                        $("#joinForm").find("input[type='submit']").attr("disabled",false);

                    }else{
                        $("#idCheck").text("사용 가능한 아이디 입니다.");
                        $("#joinForm").find("input[type='submit']").attr("disabled",false);
                    }
                },
                error:function(){
                    console.log("fail");
                }
            });
        });

</script>
</html>