<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.member.MemberMapper">

    <sql id="criteria">
        <trim prefix="(" suffix=") AND " prefixOverrides="OR">
            <foreach item='type' collection="typeArr">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'I'.toString()">
                            MEMBER_ID like '%'||#{keyword}||'%'
                        </when>
                        <when test="type == 'N'.toString()">
                            MEMBER_NAME like '%'||#{keyword}||'%'
                        </when>
                        <when test="type == 'E'.toString()">
                            MEMBER_EMAIL like '%'||#{keyword}||'%'
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>

    <select id="get" parameterType="String" resultType="com.example.demo.domain.member.entity.Member">
        select * from member where member_id = #{memberId}
    </select>


    <!--    이거는 사용 못함. jpa 테이블 구성 칼럼 설정이 불가능 해서-->
    <insert id="insert" parameterType="com.example.demo.domain.member.dto.MemberJoinDTO">
        <selectKey keyProperty="no" resultType="Long" order="BEFORE">
            SELECT member_seq.NEXTVAL FROM DUAL
        </selectKey>
        insert into member values(
        #{no},
        #{memberId},
        #{memberPw},
        #{memberName},
        #{memberGender},
        #{memberEmail},
        #{memberAge},
        #{role}
        )
    </insert>

    <update id="update" parameterType="com.example.demo.domain.member.dto.UpdateInfoDTO">
        update member set member_name=#{memberName}, member_email=#{memberEmail} where member_no=#{memberNo}
    </update>

    <update id="modify" parameterType="com.example.demo.domain.member.dto.MemberDTO">
        update member set member_id = #{member_id}, member_name=#{member_name}, member_email=#{member_email}, member_age=#{member_age}
        where member_no=#{member_no}
    </update>

    <update id="updatePw" parameterType="com.example.demo.domain.member.dto.UpdateInfoDTO">
        update password set pw=#{memberPw} where member_no=#{memberNo}
    </update>

    <select id="getListWithPaging" parameterType="com.example.demo.domain.Criteria" resultType="com.example.demo.domain.member.dto.MemberListDTO">
        <![CDATA[
              select
                member_no, member_id, member_email, member_name, member_age, member_gender
              from
                  (
                  select /*+INDEX_DESC(member SYS_C005111) */
                    rownum rn, member_no, member_id, member_email, member_name, member_age, member_gender
                  from
                    member
                  where
         ]]>
             <include refid="criteria"></include>
        <![CDATA[
              rownum <= #{pageNum} * #{amount}
              )
              where rn > (#{pageNum} -1) * #{amount}
        ]]>
    </select>


    <select id="findMemberForIdCheck" resultType="com.example.demo.domain.member.entity.Member">
        select * from member where member_id = #{memberId}
    </select>

    <delete id="memberOut">
        delete from member where member_no = #{memberNo}
    </delete>

    <delete id="remove">
        delete from member where member_no = #{memberNo}
    </delete>

    <select id="adminChk" resultType="com.example.demo.domain.member.dto.vo.Role">
        select role from member where member_id = #{memberId}
    </select>

</mapper>
